body {
    font-family: Arial, sans-serif;
    font-size: 12pt;
    color: rgb(21,22,19);
    background-color: rgb(66, 97, 128);
}

header{
    height: 100px;
    background-image: url("header.jpg");
}

table,th,td{
    border: 1px, solid, black;
}
